@import '../../Scss/Variable.scss';

// SIZE

.xl {
  font-size: 1.5rem;
}

.m {
  font-size: 1rem;
}

.s {
  font-size: 0.8rem;
}

// SHAPE

.round {
  border-radius: 100%;
  color: $dark-gray;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
  height: 30px;
}

// STYLE

.dot-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  transition: transform ease-in-out 200ms;
  height: 35px;

  &:hover{
    transform: scale(1.15);
    cursor: pointer
  }
}

.simple-button {
  background-color: $light-green;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 150ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 5px $dark-green;
    cursor: pointer;
  }
}
