@import '../../Scss/Mixin.scss';
@import '../../Scss/Variable.scss';

.todo-page {
  @include flexbox-column;
  align-items: center;
  padding: 0 1rem;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }

  &__add-button {
    color: $dark-gray;
    font-weight: bold;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}