@import '../../Scss/Mixin.scss';
@import '../../Scss/Variable.scss';

.todo-page {
  @include flexbox-column;
  align-items: center;
  padding: 0 1rem;
  position: relative;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
}


// Create modal

.todo__create {
  background-color: white;
  width: 90%;
  padding: 1rem;
  @include flexbox-column;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__send-div {
    margin: 1.5rem auto 0;
  }

  &__send-btn{
    padding: .5rem;
    border-radius: 18px;
    width: 100px;
  }
}